*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #ffba00;
}
.container h1{
    font-size: 3em;
    text-align: center;
    padding: 40px;
    text-transform: capitalize;
}
.flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-container .flex-item img{
    width: 300px;
    height: 300px;
    padding-bottom: 20px ;
}

.text{
    text-align: center;
}
.flex-item h5{
    font-weight: 100;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.flex-item h6{
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 854px){
    .container{
        height: auto;
    }
}

@media (max-width: 641px){
    .flex-container{
        flex-direction: column;
        align-items: center;
    }

.flex-item{
   padding-bottom: 15px;
    }
}

    
    

